
@{
    ViewBag.Title = "PartnerConfirmed";
}

<div class="row text-center">

    <h2 class="text-success">Registracija uspješna</h2>
</div>

<div class="container alert">

    <div class="alert alert-warning text-center">
        <h2>Prijavite se @Html.ActionLink("ovdje", "RegisterFirm", "Account") za registraciju tvrtke. </h2>
    </div>
    
</div>


