
@using ClassLibrary.Model
@model  IEnumerable<ClassLibrary.Model.Company>


@{
    ViewBag.Title = "Rezervacija";
    var categories = (List<SelectListItem>)ViewBag.Categories;
    
}



<div class="container">
    <div class="row">
        <h2 class="text-center">Rezervacija termina</h2>
    </div>
    <hr />
    @using (Html.BeginForm())
    {

        <div class="row ">
            <div class="col-sm-3">
                @Html.Partial("_Categories", categories)
            </div>
            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary" value="Odaberi kategoriju" />

            </div>
        </div>

    }

    <hr />

    <div class="container">


        @if (Model != null && Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                @Html.Partial("_Companies", item);
            }

        }

    </div>



</div>
